<ion-view view-title="Charges">
    <ion-content class="padding">
    	<div class="list list-inset">
       		<button class="button button-block button-positive" ng-click="url('charge-create')">
	  			Add Charge
	  		</button>
	  	</div>
       	<ion-list can-swipe="listCanSwipe">
       		<!--<a ng-href="#/charge-detail/{{ result.id }}" class="item" ng-repeat="result in results.data">-->
       		<ion-item class="item item-text-wrap" ng-repeat="result in results.data">
               	{{ result.name }}
               	<ion-option-button class="button-balanced" ng-click="url('charge-detail/{{ result.id }}')">
					<!-- Show --><i class="icon ion-search"></i>
                </ion-option-button>
               	<ion-option-button class="button-positive" ng-click="url('charge-update/{{ result.id }}')">
	      			<!-- Edit --><i class="icon ion-edit"></i>
	    		</ion-option-button>
 
	    		<ion-option-button class="button-assertive" ng-click="delete($index, '{{ result.id }}')">
	      			<!-- Delete --><i class="icon ion-trash-a"></i>
	    		</ion-option-button>
        	</ion-item>
        </ion-list>
    </ion-content>
</ion-view>